.fliter_form_div_left{
	float: none;
	margin: 0;
}
div.top{
	padding: 0;
}
div.fliter {
	width:100%;
}
div.announcement {
	width:100%;
	max-height: 12em;
}
div.fliter_form_div {
	margin-bottom: 1em;
}
/************************/
div.fliter_option .checkbox{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}
.fliter_form_div_right .checkbox{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}
.nav-tabs.nav-justified>li{
	float:left;
	width: auto;
	display: block;
}
.nav-tabs.nav-justified>li a{
	padding: 0
}
.nav-tabs.nav-justified>li .badge{
	display: none;
}
.nav-tabs.nav-justified>li.active .badge{
	display: inline-block;
	background-color: #fff;
	color: #333;
	padding: 0;
	padding-right: 0.3em
}
/************************/
#fixed-header{
	display: none;
}
.table-head div{
	display: none;
}
.table-head .ht_damage, .table-head .ht_hit,.table-head .ht_dodge,.table-head .ht_firerate,
.table-head .ht_attEffect,.table-head .ht_avgAttEffect,.table-head .ht_defEffect, .table-head .ht_mobile{
	display: inline-block;
}
.ht_mobile{
	display: inline-block!important;
}
.table-row{
	float: left;
	width: 100%;
	padding-top: 0.5em
}
.table-td.icon{
	margin-top: -1.7em;
	float: right;
}
.table-td:nth-child(15){
	clear: left
}
.table-td{
	padding: 0.2em;
	float: left;
}
.table-td.empty,.table-td.td_star,.table-td.td_consume,.table-td.td_id{
	display:none;
}
.table-td[before-text]:before {
	display: inline-block;
	content: attr(before-text);
	padding: 0 1px 0 0;
	font-weight: normal;
}
.td_buffrange{
	width: 37px
}
.td_buffrange.table-td div{
	padding: 4px;
}
#bufflist .buff-block{
	width: 140px;
    height: 90px;
}



